body{
    background-color: rgb(223, 221, 217);
    background: linear-gradient(90deg, rgba(196,106,212,0.5) 20%, rgba(29,252,253,0.5) 50%, rgba(229,252,69,0.5) 100%);
    height: 100vh;
}
header{
    display: flex;
    justify-content: center;
    }
    .container {
        display: flex;
        justify-content: center;
       
    }
    
    form {
        width: 30%;
        background-color: rgb(214, 217, 218);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2%;
        gap:3%;
    }
    
    input {
        border: none;
        padding: 1.5%;        
        font-size: 1rem;
        border-radius: 20px;
        margin-bottom: 0.5rem;
        height: 2rem;
        width: 80%;
    }
    
    button {
        width: 60%;
        background-image: linear-gradient( #4F58FD, #149BF3 99%);
        border: none;
        border-radius: 20px;
        color: whitesmoke;
        font-size: 1.5rem;
        padding: 0.5rem;
    }
    
    button:hover {
        box-shadow: 5px 10px 10px lightskyblue;    
        cursor: pointer;
    }